# Docker ignore
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv*/
venv_new/
venv_sys/
venv_dev/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Otros
.vscode/
.idea/
*.log
