# Entorno virtual
env/
venv/
.env
.venv/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.log

# Django
db.sqlite3
staticfiles/
media/

# IDEs & OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Distribución
*.egg-info/
dist/
build/
