{% extends 'base.html' %}
{% load dict_filters %}
{% block content %}
<h2 class= "text-center">Asistencias registradas - Sala {{ sala.nombre }}</h2>

<form method="get" id="form-fecha">
    <label for="fecha">Fecha:</label>
    <input type="date" name="fecha" id="fecha" value="{{ fecha|date:'Y-m-d' }}" onchange="document.getElementById('form-fecha').submit();">
</form>


<hr>
    <div class="container mt-4">
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Alumno</th>
                <th>Estado</th>
            </tr>
        </thead>
        {% for alumno in alumnos %}
        <tr>
            <td>{{ alumno.apellido }}, {{ alumno.nombre }}</td>
            {% if alumno.id in asistencias_dict %}
                {% with asistencia=asistencias_dict|dict_get:alumno.id %}
                    <td>
                        {% if asistencia.estado == "J" and asistencia.motivo %}
                            J ({{ asistencia.motivo.nombre }})
                        {% else %}
                            {{ asistencia.get_estado_display }}
                        {% endif %}
                {% endwith %}
            {% else %}
                <td colspan="2"><em>Sin registro</em></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
<hr>
<div class="d-flex justify-content-between mt-4">
  <a href="{% url 'alumnos:dashboard' %}" class="btn btn-secondary">
    Volver
  </a>

  <div>
    <a href="{% url 'alumnos:cargar_asistencia' sala.id %}?fecha={{ fecha|date:'Y-m-d' }}" class="btn btn-success me-2">
      Editar Asistencia
    </a>
  </div>
{% endblock %}
